<!DOCTYPE html>
<html>
<head>
<title>Tecnología Básica</title>
<link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
</head>
<body>

<div class="container">

<h1>Módulo 1</h1>

<h2>Introducción a la Tecnología</h2>

<p>
Aprenderás conceptos básicos de computadoras,
internet y correo electrónico.
</p>

</div>

    <img src="{{ url_for('static', filename='tecnologia_cya.jpeg') }}"
     alt="Imagen de Canva"
     width="800"
     class="imagen-centro">

<div class="container">
    <p>
        Visitar el siguiente enlace para consultar las partes y funciones de una computadora:
        <a href="https://concepto.de/computadora/" class="boton" >Visitar</a>
    </p>
</div>

<div class="container">
    <p>
       Visita el siguiente enlace para conocer atajos con ayuda del ratón y el teclado, así como comandos:
        <a href="https://mundobytes.com/usar-el-teclado-sin-raton-en-windows/" class="boton">Visitar</a>
    </p>
</div>

<div class="container">
    <p>
       Visita el siguiente enlace para saber 10 concejos para navegar en internet:
        <a href="https://www.iniciacontic.gov.co/776/w3-article-333450.html " class="boton">Visitar</a>
    </p>
</div>

<div class="container">
    <p>
       4.	Creación de cuentas de correo electrónico. <br>
•	Crear una cuenta de Gmail implica registrar una cuenta de Google que da acceso a todos los servicios del ecosistema (YouTube, Drive, Maps, Play, etc.). <br>
•	Es clave elegir bien el tipo de cuenta, un nombre de usuario disponible y una contraseña segura, además de configurar teléfono y correo de recuperación.<br>
•	Gmail permite personalizar la bandeja con etiquetas, temas, alias y funciones inteligentes como Gemini para redactar y organizar mejor los correos.<br>
•	Mantener la seguridad (verificación en dos pasos, revisiones periódicas y buena gestión del espacio) evita problemas de acceso y pérdida de información <br>
<br>
Visita el siguiente enlace para seguir los pasos<br>
correctos para ayudarte a crear una cuenta de correo electrónico:
        <a href="https://androidayuda.com/android/general/como-crear-una-cuenta-de-gmail-paso-a-paso/" class="boton">Visitar</a>
    </p>
</div>

</body>
</html>