<!DOCTYPE html>
<html>
<head>
<title>Preparación para el Empleo</title>
<link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
</head>
<body>
<div class="container">

<h1>Módulo 4 🏅</h1>
    <img src="{{ url_for('static', filename='e1.jpeg') }}"
     alt="Imagen de Canva"
     width="400"
     class="imagen-centro">

<h2>👷🏻‍♂️ Preparación para el Empleo 👷🏻‍♂️</h2>

<p>
Aprende a elaborar un currículum
y prepararte para entrevistas laborales.
</p>

</div>

</div>

    <img src="{{ url_for('static', filename='empleo_cya.jpeg') }}"
     alt="Imagen de Canva"
     width="800"
     class="imagen-centro">

<div class="container">
    <p>
       Descripción y características de un curriculum: 
        <br>
        <br><a href="https://enciclopediaiberoamericana.com/curriculum-vitae/" class="boton">Visitar</a>
    </p>
</div>

    <img src="{{ url_for('static', filename='e2.jpeg') }}"
     alt="Imagen de Canva"
     width="800"
     class="imagen-centro">

<div class="container">
    <p>
        📄Como elaborar un curriculum: 
        <br>
        <br><a href="https://www.livecareer.es/curriculum-vitae/como-hacer-un-cv" class="boton">Visitar</a>
    </p>
</div>

<div class="container">
    <p>
       ✨Entrevistas laborales✨: 
           <img src="{{ url_for('static', filename='e4.jpeg') }}"
        alt="Imagen de Canva"
        width="100"
        class="imagenn">
        <br>
        <br><a href="https://www.questionpro.com/blog/es/entrevista-laboral/" class="boton">Visitar</a>
    </p>
</div>

    <img src="{{ url_for('static', filename='e3.jpeg') }}"
     alt="Imagen de Canva"
     width="800"
     class="imagen-centro">

<div class="container">
    <p>
        <br>Actividad</br>
        
        <br>Uso del correo electrónico para solicitar empleo:</br>
        <br>
        Deberas generar un curriculum para solicitar empleo, 
        para posteriormente, compartirlo como borrador a través de un correo electrónico.

    </p>
</div>

</body>
</html>