<!DOCTYPE html>
<html>
<head>
<title>Autoestima</title>
<link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
</head>
<body>

<div class="container">

<h1>Módulo 3</h1>
    <img src="{{ url_for('static', filename='a2.jpeg') }}"
     alt="Imagen de Canva"
     width="400"
     class="imagen-centro">
<h2>Autoestima</h2>

<p>
Reconoce tus fortalezas, trabaja en tus metas
y mejora tu confianza personal.
</p>

</div>

    <img src="{{ url_for('static', filename='autoestima_cya.jpeg') }}"
     alt="Imagen de Canva"
     width="600"
     class="imagen-centro">

<div class="container">
    <p>
    Visita el siguiente enlace para aprender más sobre la autoestima:
        <br>
        <br><a href="https://concepto.de/autoestima/" class="boton">Visitar</a>
    </p>
</div>

    <img src="{{ url_for('static', filename='a1.jpeg') }}"
     alt="Imagen de Canva"
     width="800"
     class="imagen-centro">

<div class="container">
    <p>
    •	3.2 Reconocimiento de Fortalezas:
        <br>
        <br><a href="https://youtu.be/bx9ZA-f0_ag?si=jZWIMAcKAJiVOVGn" class="boton">Visitar</a>
    </p>
</div>

    <img src="{{ url_for('static', filename='a3.jpeg') }}"
     alt="Imagen de Canva"
     width="800"
     class="imagen-centro">

<div class="container">
    <p>
    •	3.4 Metas Personales:
        <br>
        <br><a href="https://youtu.be/qrl9vGbX3A8?si=aUtJAqHyO_Xnmrsc" class="boton">Visitar</a>
    </p>
</div>

    <img src="{{ url_for('static', filename='a4.jpeg') }}"
     alt="Imagen de Canva"
     width="800"
     class="imagen-centro">

</body>
</html>