<!DOCTYPE html>
<html>
<head>
<title>Canva</title>
<link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
</head>
<body>

<div class="container">

<h1>Módulo 2</h1>
    <img src="{{ url_for('static', filename='c1.webp') }}"
     alt="Imagen de Canva"
     width="500"
     class="imagen-centro">

<h2>Aprende Canva</h2>
<p>
Insipra, Crea, Diseña y realiza tus objetivos
</p>

</div>
    
    <img src="{{ url_for('static', filename='canva.jpg') }}"
     alt="Imagen de Canva"
     width="800"
     class="imagen-centro">
    
<div class="container">
    <p>
        La siguiente página (documento) muestra el contenido completo, desde crear un usuario en la aplicación,
        hasta hacer un proyecto, analiza la información de manera detallada:
        <br>
        <br><a href="https://www.xataka.com/basics/que-canva-como-funciona-como-usarlo-para-crear-diseno" class="boton">Visitar</a>
    </p>
</div>

<div class="container">
    <p>
        También puedes ver el siguients video para aclarar tus dudas:
        <br>
        <br><a href="https://youtu.be/9_CyiVVKwmw?si=58ZJ1k-LOapGXaWP" class="boton">Visitar</a>
    </p>
</div>

</body>
</html>